.header {
  border: 1px solid black;
  height:70px;


  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0 0px 0 5px;
    padding: 0 0 0 0;
    border : 0;
    float: left;
  }



}